*~
*#
.#*
.stack-work
result
logs/
logs-analyze/
image/
image
ec2-image/
smart-gen.log
experiments/
txgen.log
txgen.json
smart-gen-*
static/id_buildfarm
*prof
keys/*.key
static/*.secret
pkgs/stack2nix
scripts/iohk-nixpkgs
*.csv
*.txt
*.png
*.prof
*.hi
*.hp
*.svg
*.tgz
post-mortem
lwallet
wdb
topology.nix
secret.key*
keys
newnix
