*~
*#
.#*
.stack-work
/cardano-sl/
/keys
/nixops
/topology.nix
/iohk/dist
result
logs/
logs-analyze/
image/
image
ec2-image/
smart-gen.log
experiments/
txgen.log
txgen.json
smart-gen-*
static/id_buildfarm
*prof
keys/*.key
/test-*.yaml
static/*.secret
static/github_token
pkgs/stack2nix
scripts/iohk-nixpkgs
