*~
*#
.#*
*prof
keys/*.key
/test-*.yaml

.stack-work
/cardano-sl/
ec2-image/
experiments/
image/
/iohk/dist
/keys
logs/
logs-analyze/
/nixops

static/*.secret
static/github_token
static/id_buildfarm

image
result
scripts/iohk-nixpkgs
smart-gen.log
smart-gen-*
pkgs/stack2nix
/topology.nix
txgen.log
txgen.json
