[Unit]
Description=Nix Daemon
RequiresMountsFor=/nix/store
RequiresMountsFor=/nix/var
ConditionPathIsReadWrite=/nix/var/nix/daemon-socket

[Service]
ExecStart=@/nix/store/367jrnx2rhk9g74zvg4m43h17jnf7371-nix-1.11.11/bin/nix-daemon nix-daemon --daemon
KillMode=process
